$fuente: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$white: #FFFFFF;
$light-gray: #DDDDDD;
$gray: #AAAAAA;
$dark-gray: #777777;
$darker-gray: #444444;
$black: #000000;

$pink: #ff2d55;
$purple: #5856d6;
$orange: #ff9500;
$yellow: #ffcc00;
$red: #ff3b30;
$teal-blue: #5ac8fa;
$blue: #007aff;
$green: #4cd964;

$fonts: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.1);

$telefono: 480px;
$tablet: 768px;
$desktop: 1000px;
$gigante: 1400px;